obj_dir/
*.vcd
*.fst
*.log
*.swp
*.swo
*.swl
*.swm
09_RISC-V SoC Design and Integration/08 RISC-V SoC RTL-to-GDSII Physical Design/runs/

# OpenLane generated data
**/runs/
**/*.vcd
**/*.fst
**/*.log
